.container{
  max-width: 1140px;
  margin: auto;
}
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 0;
}
.search-parent{
  position: relative;
}
.search-parent input{
  padding: 15px;
  border-radius: 66px;
  background: rgb(241, 241, 241);
  border: none;
  width: 509px;
}
.search-parent input::placeholder{
  color: rgb(204, 204, 204);
  
  font-size: 16px;
  font-style: italic;
}
.search-parent i{
  position: absolute;
  top: 15px;
  right: 12px;
  color: rgb(186, 186, 186);;
}
.nav-items{
  display: flex;
  gap: 24px;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
color: #707070;
}